@import "tailwindcss";

body {
  background-color: #3f7ad3;
  font-family: "Roboto", sans-serif;
}
h1 {
  color: white;
  font-size: 40px;
  margin: 5px;
}
p {
  color: white;
  font-size: 20px;
  margin: 5px;
}
li.link {
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.myself {
  color: white;
  float: right;
  width: 40%;
  height: 40%;
  padding: 10px;
  margin: 10px;
}
