@import "tailwindcss";

body {
  background-color: #56a81e;
  font-family: "Roboto", sans-serif;
}

.navBar {
  background-color: #a86c1e;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
li.link {
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  margin: 0 2px;
  display: inline-block;
}
.myself {
  color: white;
  float: right;
  width: 40%;
  height: 40%;
  padding: 10px;
  margin: 10px;
}
.container {
  margin-top: 100px;
  padding: 20px;
  width: 100%;
}
p {
  color: white;
  font-size: 20px;
  margin: 5px;
}
